<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adventure Log</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="flex-row justify-flex-end p-3">
    <a class="p-1 text-dark" href="/login">Login</a>
    <span class="p-1">or</span>
    <a class="p-1 text-dark" href="/register">Register</a>
  </nav>

  <h1 class="text-center mb-5">Adventure Log</h1>

  <main class="container pb-4 adventure-output"></main>

  <script src="/js/adventures.js"></script>
</body>

</html>