<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adventure Log</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="p-4">
  <nav class="flex-row justify-flex-end">
    <a href="/login" class="btn text-dark btn-border">Start Sharing Your Adventures</a>
  </nav>

  <div class="container flex-column justify-center mt-5">
    <h1 class="text-dark mb-4 mt-5">Adventure Log</h1>
    
    <main class="adventures"></main>
  </div>

  <script src="/js/adventures.js"></script>
</body>

</html>