<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adventure Log</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column justify-center align-center">

  <h1 class="text-center mb-5">Edit Log</h1>

  <form id="log-form" class="flex-column">
    <input id="title-input" name="title" class="form-input" type="text" placeholder="Type your adventure title" required>
    <input id="location-input" name="location" class="form-input" type="text" placeholder="Type your adventure location"
      required>
    <button class="btn btn-dark">Update Log</button>
  </form>

  <script src="/js/edit.js"></script>
</body>

</html>