<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adventure Log</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="p-4">
  <nav class="flex-row justify-flex-end">
    <a href="/adventures" class="btn text-dark btn-border">View All User Adventures</a>
  </nav>

  <div class="container flex-column justify-center align-center mt-5">  
    <h1 class="mt-5">Log In</h1>

    <form id="auth-form" class="flex-column">
      <p class="error text-center"></p>
      <input id="username-input" type="text" class="form-input" placeholder="Enter Your Username" required>
      <input id="password-input" type="password" class="form-input" placeholder="Enter Your Password" required>

      <button class="btn btn-border">Submit</button>
      <a href="/register" class="mt-3 text-dark text-center">Click Here To Register</a>
    </form>
  </div>

  <script src="/js/auth.js"></script>
</body>

</html>